body {
  font-family: 'Noto Sans TC', sans-serif;
}
header {
  overflow: hidden;
}
.navbar {
  border-bottom: 1px solid #808080;
}
.navbar .navbar-brand {
  letter-spacing: 1px;
  color: #fdfff4;
  font-size: 23px;
}
.nav-img {
  margin: 0 5px 5px 0;
}

.navbar .navbar-brand:hover {
  color: #add8e6;
}
.logout-button {
  padding: 5px 10px;
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.7);
}
.logout-button:hover {
  background-color: rgba(255,255,255,0.7);
  color: rgba(0, 0, 0, 0.7)
}
.add-button {
  padding: 5px 10px;
  border: 1px solid #343a40;
  background-color: #343a40;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
}
a.add-button:hover {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: #d9e7ba;
}
.fa-plus {
  margin-right: 5px;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://p2.piqsels.com/preview/50/153/191/beach-champagne-cheerful-cheers.jpg');
  background-size: cover;
  filter: blur(1px);
}

.search-bar .search-bar-outer {
  position: relative;
  margin: 0 auto;
  max-width: 680px;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}
.dropdown-toggle {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #797979;
  padding: 5px 38px;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #07817a;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}
.card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
div.card-body {
  padding: 0;
}
.restaurant-info {
  padding: 1.25rem;
}
.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}
.rating {
  background-color: #015f5a;
  color: #fff;
}
.crud>form {
  display: inline-block;
  padding: 0;
}

.crud {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.a-button, .f-button {
  flex-grow: 1;
}

.crud-button {
  display: inline-block;
  padding: 5px;
  background-color: #fff;
  border: none;
  color: #808080;
  text-align: center;
}

a.crud-button:hover, .crud-button:hover {
  text-decoration: none;
  color: black;
  background-color: #f5f5f5;
}

/*show page*/
.detail-crud>form {
  display: inline-block;
  padding: 0;
}

.detail-crud {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.detail-crud .crud-button {
  display: inline-block;
  width: 100px;
  margin:0 10px;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 50px;
  color: #808080;
  text-align: center;
  letter-spacing: 1px;
}

.detail-crud a.crud-button:hover, .detail-crud .crud-button:hover {
  text-decoration: none;
  color: #dcdcdc;
  background-color: #696969;
}
.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  padding: 5px 0;
  text-align: center;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.info {
  margin-top: -30px;
}

.description {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  padding: 5px 0px 5px 15px;
}
a:hover {
  text-decoration: none;
}
/*create and edit page*/
.enter-info {
  max-width: 700px;
  margin: 70px 0 30px 0;
  padding: 20px 30px;
  border: 1px solid #696969; 
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #343a40;
  color: #dcdcdc;
}
.enter-info>.row>div {
  padding: 15px;
}
.enter-info p {
  margin: 0;
}
.enter-info input, .enter-info textarea {
  padding: 5px;
  margin-top: 5px;
}
.enter-info input::placeholder, .enter-info textarea::placeholder {
  color: #c0c0c0;
}
.enter-info textarea {
  height: 100px;
}
.enter-info button, a.info-button {
  margin: 5px auto;
  padding: 8px 16px;
  border-radius: 5px;
  border:1.5px solid #696969;
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #696969;
  color: white;
  background-color: transparent;
}
.enter-info button:hover, a.info-button:hover {
  background-color: #696969;
}

/*login and register*/
.user-part {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.user-part .card {
  padding: 10px 50px;
  background-color: #CDDCDC;
  background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
  background-blend-mode: screen, overlay;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}
.user-part .btn-local {
  background-color:#2e8b57;
  color: white;
  margin-top: 30px;
}
.user-part .btn:hover {
  background-color:#028255;
}
.user-part .btn-facebook {
  background-color: #0d33ff;
  color: white;
}
.user-part .btn-facebook:hover {
  background-color: #2a52be;
}

@media screen and (max-width: 992px) {
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img{
    height: auto;
  }
  
}
